@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.footer {
    background-color: black;
    width: 100%;
    padding: 70px 300px 50px 320px;
    color: white;
    font-family: 'NanumSquareNeo-Variable';
}

.footer-top {
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
}

.footer-logo {
    width: 27%;
    float: left;
    line-height: 20px;
}

.footer1 {
    width: 23%;
    font-size: 14px;
    float: left;
    padding-top: 35px;
    line-height: 20px;
}

.footer2 {
    width: 50%;
    float: left;
    padding-top: 35px;
    line-height: 20px;
}

/* 로고 */
.footer-logo-img {
    background-image: url('../img/logoW_main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 220px;
    height: 180px;
}

/* 푸터1 */
.title1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.email {
    margin-bottom: 20px;
}

.footer1 p:nth-child(n+4) {
    font-size: 12px;
}

.footer1 p>span {
    display: inline-block;
    width: 50px;
}

.footer-icon {
    vertical-align: middle;
    margin-right: 10px;
}

/* 공지사항 */
.footer-notice-container {
    margin-bottom: 18px;
    cursor: pointer;
}

.notice {
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.footer-notice-category {
    display: inline-block;
    width: 50px;
    margin: 0px 5px;
}

/* 회사정보 */
.grey {
    font-size: 12px;
    color: #A7A7A7;
    padding: 0px 10px;
    margin: 5px 5px 0px;
    border-left: 2px solid white;
}

/* 카피라이트 */
.copyright {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-size: 12px;
}

/* 클리어 */
.footer::after {
    display: block;
    content: "";
    clear: both;
}