@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* 기본 네비 */
.default-navi {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: left;
    font-family: 'TheJamsil5Bold';
    z-index: 5;
    padding: 0px 150px;
}

.default-navi .default-home {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    height: 60px;
    line-height: 60px;
    box-sizing: content-box;
    float: left;
    margin: 0px;
    margin-right: 40px;
    cursor: pointer;
}

.default-navi .default-link {
    color: white;
    box-sizing: content-box;
    margin: 0px;
}

.default-navi .default-link li {
    float: left;
    margin: 0px 20px;
    border-left: 3px solid black;
    width: 130px;
    height: 30px;
    text-align: center;
    font-size: 1em;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease;

}

.default-navi .default-link li:hover {
    border-left: 3px solid white;

}

/* 관리자 */
.menu {
    border-bottom: 5px solid #0d4bbe;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: left;
    font-family: 'TheJamsil5Bold';
    z-index: 5;
}

.menu .home {
    color: #0d4bbe;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 17%;
    height: 60px;
    line-height: 60px;
    box-sizing: content-box;
    float: left;
    margin: 0px;
    margin-right: 40px;
}

.menu .link {
    color: #0d4bbe;
    box-sizing: content-box;
    margin: 0px;
}

.menu .link li {
    float: left;
    margin: 0px 20px;
    border-left: 3px solid white;
    width: 130px;
    height: 30px;
    text-align: center;
    font-size: 1em;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease;
}

.menu .link li:hover {
    border-left: 3px solid #0d4bbe;
}

/* 개발자 네비 */
.dev-menu {
    border-bottom: 5px solid rgb(255, 150, 0);
    background-color: rgb(255, 250, 230);
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: left;
    font-family: 'TheJamsil5Bold';
    z-index: 5;
}

.dev-menu .dev-home {
    color: #ff9600;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 17%;
    height: 60px;
    line-height: 60px;
    box-sizing: content-box;
    float: left;
    margin: 0px;
    margin-right: 40px;
}

.dev-menu .dev-link {
    color: #ff9600;
    box-sizing: content-box;
    margin: 0px;
}

.dev-menu .dev-link li {
    float: left;
    margin: 0px 20px;
    border-left: 3px solid rgb(255, 250, 230);
    width: 130px;
    height: 30px;
    text-align: center;
    font-size: 1em;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease;

}

.dev-menu .dev-link li:hover {
    border-left: 3px solid #ff9600;

}

/* 유저 네비 */
.user-navi {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: left;
    font-family: 'TheJamsil5Bold';
    z-index: 5;
}

.user-navi .user-home {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 25%;
    height: 60px;
    line-height: 60px;
    box-sizing: content-box;
    float: left;
    margin: 0px;
    margin-right: 40px;
    cursor: pointer;
}

.user-navi .user-link {
    color: white;
    box-sizing: content-box;
    margin: 0px;
}

.user-navi .user-link li {
    float: left;
    margin: 0px 20px;
    border-left: 3px solid black;
    width: 130px;
    height: 30px;
    text-align: center;
    font-size: 1em;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease;
}

.user-navi .user-link li:hover {
    border-left: 3px solid white;
}

/* 메인 네비 */
.main-navi {
    background-color: black;
    padding: 30px 150px;
    width: 100%;
    height: 25vh;
    font-family: 'TheJamsil5Bold';
    color: white;
    text-align: center;
}

.main-home {
    color: white;
    height: 17vh;
    line-height: 17vh;
    width: 300px;
    box-sizing: content-box;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 60px;
    cursor: pointer;
}

.loginButton {
    float: right;
}

.login-btn {
    background-color: black;
    border: none;
    color: white;
    width: 80px;
    cursor: pointer;
    font-family: 'TheJamsil5Bold';
}

.login-msg {
    float: left;
}

.main-link {
    padding: 5px 0px;
    display: inline-block;
}

.main-link li {
    width: 150px;
    margin: 0px 50px;
    float: left;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

/* 로그인, 로그아웃, 마이페이지 버튼 */
#user-button {
    margin-right: 150px;
    float: right;
}

#default-button {
    float: right;
}

.logout-navi-icon,
.login-navi-icon,
.mypage-navi-icon {
    color: white;
    width: 35px;
    height: 35px;
    margin: 0px 10px;
    vertical-align: middle;
    cursor: pointer;
}

/* 클리어 */
#navi::after,
menu::after,
.loginButton::after {
    content: '';
    display: block;
    clear: both;
}